html {
  font-family: helvetica;
  font-size: 18px;
}

div {
  border: 1px solid black;
}

p {
  color: ;
}

/* Header */

header {
  align-items: center;
  display: flex;
  height: 64px;
}

.logo {
  align-items: center;
  display: flex;
  margin-left: 24px;
}

.logo span {
  color: black;
  display: inline-block;
  font-weight: 600;
  margin: 0;
}

nav {
  text-align: right;
}

nav img {
  display: none;
}
